<% provide(:title, "Home") %>
<div class="flex justify-between">
  <div class="flex flex-col flex-1 table-container" style="border-right: 1px solid grey;">
    <%= render template: "data_records/index" %>
  </div>
  <div class="flex flex-col flex-1 table-container" style="padding-top: 4.2em">
    <%= render template: "data_record_revisions/index" %>
  </div>
</div>
